<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Forgot Password</title> 
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container mt-4">
      <form action="/mail/sendotp" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" 
                   aria-describedby="emailHelp" value="<%= email %>" 
                   <% if (email) { %> readonly <% } %> required>
        </div>
        <button type="submit" class="btn btn-primary">Get OTP</button>
    </form>
    </div>
    <%- include('./partials/scripts') %>
</body>
</html>